/* 
===================================
Universal Styles
===================================
*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
    text-align: center;
    padding: 20px;
    background-image: url("../images/jar-jar.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}

h1,
h2,
span {
    padding: 10px;
    margin: 10px;
}

/* 
===================================
Header/Right/Wrong
===================================
*/

h1,
#right,
#wrong {
    font-size: 80px;
    color: rgb(194, 149, 0);
    font-family: 'Luckiest Guy', cursive;
}

/* 
===================================
Answer Choices
===================================
*/

p,
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    margin: 20px;
}

#a1,
#a2,
#a3,
#a4 {
    background-color: lightgreen;
    margin: 20px auto;
    padding: 20px;
    width: 50%;
}

#a1,
#a2,
#a3,
#a4:hover {
    cursor: pointer;
}

/* 
===================================
Buttons
===================================
*/

button {
    font-family: 'Luckiest Guy', cursive;
    height: 200px;
    width: 400px;
    font-size: 50px;
    border-radius: 10px;
    background-color: lightgreen;
    margin-top: 100px;
}

button:hover {
    cursor: pointer;
}